APP_NAME=TUB-DMP
APP_ENV=local
APP_SERVER=test
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_KEY=5Jdkai97ydXk6yGTpbifec6wvWlvnXOS
APP_URL=https://dmp.localhost

DB_CONNECTION=pgsql
DB_HOST=localhost
DB_DATABASE=tub-dmp
DB_USERNAME=dmp
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_PRETEND=true
MAIL_DRIVER=log
MAIL_HOST=localhost
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

ODBC_DRIVER=odbc
ODBC_DSN='odbc:DATASOURCE'
ODBC_HOST=IP
ODBC_USERNAME=NAME
ODBC_PASSWORD=SECRET
ODBC_DATABASE=DATABASE

#ODBC_DRIVER=pgsql
#ODBC_DSN=odbc:PSQL_ODBC
#ODBC_HOST=localhost
#ODBC_USERNAME=ivmc
#ODBC_PASSWORD=ivmc
#ODBC_DATABASE=ivmc

SERVER_NAME=TUB-DMP
SERVER_URL=http://dmp.localhost
SERVER_MAIL_ADDRESS=server@localhost
ADMIN_MAIL_ADDRESS=admin@localhost
ADMIN_MAIL_NAME='TUB-DMP Admin'

PROJECT_IDENTIFIER_PATTERN=^[0-9]{8}$

DEFAULT_CONTENT_TYPE = 'textarea_simple';

ELOCRYPT_PREFIX=__This_is_encrypted_data__
