node_modules/
public/images/*
public/css/*
public/js/*
public/fonts/*
resources/assets/bower
storage/*.key
vendor/*
.idea/
Homestead.json
Homestead.yaml
.env
config/ide-helper.php
.gitattributes
bootstrap/compiled.php
database/seeds/Fake*
storage/_ide_helper.php
*.meta.php
*.log
mix-manifest.json
