* {
    outline: 0px #336699 dotted;
}

html {
    margin-top: 30mm;
    margin-left: 19.4mm;
    margin-right: 20mm;
    margin-top: 20mm;
    text-align: justify;
}

@page {
    size: a4 portrait;
}

div {
    font-family: 'Source Serif Pro', Arial, Geneva, Helvetica, Verdana, sans-serif;
}

.text-center {
    text-align: center;
}

a {
    text-decoration: none !important;
}

div.page  {
    overflow: hidden;
    page-break-after: always;
    padding-top: 0mm;
}

div.question {

    orphans: 5;
}

div.section-title {
    page-break-after: avoid;
}