@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Source+Serif+Pro);
@import url(http://fonts.googleapis.com/css?family=Space+Mono);

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    src: url(http://fonts.googleapis.com/css?family=Source+Sans+Pro) format('truetype');
}

@font-face {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: normal;
    src: url(http://fonts.googleapis.com/css?family=Source+Serif+Pro) format('truetype');
}

@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: normal;
    src: url(http://fonts.googleapis.com/css?family=Space+Mono) format('truetype');
}

html {
    margin-left: 19.4mm;
    margin-right: 20mm;
    margin-top: 20mm;
    text-align: justify;
}

@page {
    size: a4 portrait;
    font-size: 11pt;
}

div {
    font-family: 'Source Sans Pro', Arial, Geneva, Helvetica, Verdana, sans-serif;
}

h1 {
    font-family: 'Source Serif Pro', Geneva, serif;
}

.text-center {
    text-align: center;
}

a {
    text-decoration: none !important;
}

div.metadata {
    font-size: 10pt;
}

div.page  {
    overflow: hidden;
    page-break-after: always;
    padding-top: 0mm;
}

div.question {
    orphans: 5;
}

div.question-text {
    font-weight: bold;
}

div.answer-text {
    orphans: 5;
}

div.section-title {
    page-break-after: avoid;
}

div.parent-project {
    background-color: #eee;
    color: #000;
    padding: 15px;
    outline: 1px #000 solid;
}