/* 
    Document   : style
    Created on : 06.10.2013, 21:11:33
    Author     : fab
    Description:
        Purpose of the stylesheet follows.
*/


* {
    outline: 0 #336699 solid;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 10px;
}

.main {
    margin-bottom: 50px;
    /* experimental! */
    padding-top: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #f8f8f8;
    /*margin-bottom: -20px;*/
    border-top: 1px solid #000;
}
/* -------------------------------------------------- */



html {
    overflow-y: scroll;
}

body {
    margin-top: 4em;
}

body.modal-open {
    overflow: visible;
}

a, a:visited {
    color: #c50e1f;
    text-decoration: none;
    outline: 0;
    line-height: inherit;
}

a.btn {
    color: #000;
}

a.btn-success {
    color: #fff;
}

.control-label {
    text-align: left !important;
    padding-top: 0px !important;
}

.ui-state-highlight {
    background: none;
}

.btn-group .btn:first-child, .btn-group .btn:last-child {
    border-radius: 0;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 3px;
}

.hidden {
    visibility: hidden;
    over-flow: hidden;
    width: 0px;
    height: 0px;
}

div.dashboard-plan-info {
    font-style: italic;
}

div.dashboard-plan-info div.version {
    margin-top: 10px !important;
}

div.dashboard-plan-create-new {
    line-height:100px;
}

/* TODO */

#wizard .well {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.wizard-prepend {
    display: block;
    line-height: 30px;
    font-size: 1.5em;
    margin-right: 0.5em;
}

.wizard-circle {
    display: block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    text-align: center;
    font-size: 1.5em;
    margin-right: 1em;
}

.nav-pills > li > a {
    padding: 0 !important;
    border-radius: inherit !important;
}


.btn-group .btn:first-child {
    margin-left: -1px;
}

.notice {
    background-color: blue !important;
}

.panel-heading {
    font-weight: bold;
}

.errors {
    font-weight: bold;
    color: firebrick;
}

span.headline_question {
    font-weight: bolder;
    font-size: 1.1em;
}

span.question-text {
    font-weight: bold;
}

span.child-question-text {
    font-weight: normal;
    font-style: italic;
}

div.question-answer-text {
    display: inline-block;
    /*margin-top: 15px;*/
    /*margin-left: 15px;*/
    font-weight: normal;
    text-align: justify;
}

span.question-answer-prepend {
    padding-right: 5px;
}

span.question-answer-append {
    padding-left: 5px;
}

span.reference {
    font-size: 0.7em;
    font-style: normal !important;
}

span.comment {
    /*color: #777777;*/
    font-size: 0.7em;
}

span.required {
    /*color: #777777;*/
    font-size: 0.7em;
}

input.question-date, input.question-daterange {
    width: 8.5em !important;
    display: inline;
}

ul.question-answer {
    list-style-type: disc;
    padding-left: 2em;
    margin: 0 !important;
}

ul.question-answer li {
    line-height: 1em !important;
    margin-bottom: 0.5em;
}

a.to-top {
    font-size: 0.8em;
    font-weight: bold;
}

input[type=submit].medium {
    width: 40em;
}

input[type=submit].big {
    height: 3em;
    width: 20em;
    font-size: 2em;
}

.ui-datepicker .ui-datepicker-title select {
    display: inline;
}

input[type=text], textarea {
    font-weight: normal !important;
    color: #000 !important;
}

/*
.section-header {
    font-weight: bold;
    cursor: pointer;
}
*/

div.section-status {
    font-size: 30px !important;
}

div.section-status .incomplete {
    color: #d2322d;
}

div.section-status .complete {
    color: #5cb85c;
}

.label-info {
    background-color: #93a1a1;
    line-height: 2em !important;
}

.label {
    font-size: 100%;
}

div.slider {
    width: 300px !important;
}

span.slider-value,
span.slider-range-display-alpha,
span.slider-range-display-omega {
    font-weight: bold;
}

span.slider-value {
    margin-left: 15px;
}

.progress-bar {
    background-color: #31af64 !important;
}

.plan-list-logo img {
    width: 75%;
}

ol#plan-toc {
    padding-left: 35px !important;
}

ul.plan-details {
    display: inline;
    font-size: 0.8em;
}

ul.plan-details li {
    list-style: none;
}

span.plan-title {
    font-size: 1.1em;
    font-weight: bold;
}


span.plan-status {
    font-size: 1.1em;
    font-weight: bold;
}

div.question-status div.saved span {
    color: green;
}

div.question-status div.unsaved span {
    color: red;
}

div.question-status div.error span {
    color: red;
}

div.question-status div.saved {
    display: none;
}

div.question-status div.unsaved {
    display: none;
}

div.question-status div.error {
    display: none;
}

.popover-title {
    font-weight: bold;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.amaran.colorful .colorful-inner {
    text-align: center;
    padding: 12px 12px 10px 10px;
}

.pager {
    margin: 0;
}

body.modal-open {
    overflow: auto;
}
body.modal-open[style] {
    padding-right: 0px !important;
}

.help-block {
    color: #000;
    font-style: italic !important;
    margin-top: 0px !important;
}

div.form-error {
    border: 1px red solid;
}

.help-block.form-error {
    color: red;
    border: 0;
}

a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
    line-height: 1 !important;
}


 .navbar-default {
     /*border: 0 !important;*/
 }

.navbar-collapse {
    text-align: center;
}

.navbar-collapse i {
    display:block;
}

.navbar-collapse.collapse.in {
    text-align: left;
}

.navbar-collapse.in i {
    display:inline;
    text-align: left;
}

.navbar-collapse.collapse.in i:after {
    content: ' ';
}

.navbar-brand {
    padding-top: 2px;
}

#navbar ul {
    margin-right: 30px;
}

#navbar li a {
    padding: 10px 15px;
}

.navbar-right li a {
    display: inline-block;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 700px;
    }
}

@media (min-width: 1024px) {
    .modal-dialog {
        width: 900px;
    }
}

.modal-body p {
    word-wrap: break-word;
}

.hint-block {}

.hint-block ul {
    margin-top: 10px !important;
    margin-left: 27px !important;
}

.large-text {
    font-size: 150%;
}

.center-center {
    min-height: 100%;  /* Fallback for vh unit */
    min-height: 100vh; /* You might also want to use
                        'height' property instead.

                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.

                        In this case the parent of '.vertical-center'
                        is the <body> element */

    /* Make it a flex container */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
    -webkit-align-items : center;
    -moz-box-align : center;
    -ms-flex-align : center;
    align-items : center;

    /* In legacy web browsers such as Firefox 9
       we need to specify the width of the flex container */
    width: 100%;

    /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
       hence the bootstrap's container won't be aligned to the center anymore.

       Therefore, we should use the following declarations to get it centered again */
    -webkit-box-pack : center;
    -moz-box-pack : center;
    -ms-flex-pack : center;
    -webkit-justify-content : center;
    justify-content : center;
}

tr.parent td {
    font-weight: bold;
    background-color: #ededed;
}